header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
}

header video {
  position: absolute;
  z-index: 0;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#company-name{
  font-family: 'Pacifico', cursive;;
}

#submit-location{
  color: white;
}
